extends ceeseese.pug
block titulo
	title Login
block topnav
	div.top_nav
		div.nav_menu
			nav(role='navigation')
				div.nav.toggle
					a(id='menu_toggle')
						i.fa.fa-bars
				ul.nav.navbar-nav.navbar-right
					li
						a(href='javascript:;', class='user-profile dropdown-toggle' data-toggle='dropdown' aria-expanded='false')
							img(src='https://scontent.fscl2-1.fna.fbcdn.net/t31.0-8/11260888_10207153183405275_7221942946935303213_o.jpg')
							span cynthia
							span.fa.fa-angle-down
						ul.dropdown-menu.dropdown-usermenu.pull-right
							li
								a(href='/logout')
									i.fa.fa-sign-out.pull-right Log Out
		   
block contenido
	div(class='right_col' role='main')
		div
			div.page-title
				div.title_left
					h3=tituloh3
			div.clearfix
			div.row
				div.col-md-12
					div.x_panel
						div.x_content
							div.row
								each pro in productos
									div.col-md-4.col-sm-4.col-xs-12.profile_details
										div.well.profile_view
											div.col-sm-12
												div.left.col-xs-7
													h2=pro.nombre
													p
														strong=pro.volumen
													p
														strong= '$ ' + pro.ultimoPrecio
													ul.list-unstyled
														li
															i.fa.fa-calendar
															span=pro.actualizado
														li
															i.fa.fa-link
															spa
																a(href=pro.link, target="_blank") Link
												div.right.col-xs-5.text-center
													img(src=pro.imagen, class='img-circle img-responsive')
											div.col-xs-12.bottom.text-center
												div.col-xs-12.col-sm-6.emphasis
													p.ratings
														a 4.0
														a(href="#")
															span.fa.fa-star
														a(href="#")
															span.fa.fa-star
														a(href="#")
															span.fa.fa-star
														a(href="#")
															span.fa.fa-star
														a(href="#")
															span.fa.fa-star-o
		